# Project settings
PROJECT_NAME=data-engineer-task

# MinIO (S3 Storage)
# Change these in your local .env file!
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change_me_please
MINIO_ENDPOINT=minio:9000

# MongoDB (Metadata)
MONGO_USER=admin
MONGO_PASSWORD=change_me_please
MONGO_DB=metadata_db

# Airflow (Orchestration)
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow